<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">MANEJATE</h1>
    <p class="lead">Ya es hora que decidas vos como querés moverte...</p>
</div>
<div class="container">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Precio</label>
        </div>
        <select class="filtro" id="precio">
            <option value="" selected>Seleccioná el rango de precio...</option>
            <option value="1">$100~$200</option>
            <option value="2">$200~$400</option>
            <option value="3">$500~</option>
        </select>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Ubicación</label>
        </div>
        <select class="filtro" id="ubicacion">
            <option value="" selected>Seleccioná donde querés retirar el vehículo...</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>

    <div id="moto-card-columns" class="card-columns">
    </div>
</div>

{{! MODAL ALQUILER }}
<div id="modal-alquiler" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" name="motocicleta" />
                <div class="row">
                    <div class="col-6 form-group">
                        <label for="fechaEntrega">Fecha de entrega</label>
                        <input class="form-control" type="date" min="{{data.fechaMinima}}" name="fechaEntrega" />
                    </div>
                    <div class="col-6 form-group">
                        <label for="fechaDevolucion">Fecha de devolución</label>
                        <input class="form-control" type="date" name="fechaDevolucion" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button btn-alquilar type="button" class="btn btn-primary">Alquilar</button>
            </div>
        </div>
    </div>
</div>
{{! FIN MODAL ALQUILER }}

{{! MODAL RESPUESTA ALQUILER }}
<div id="modal-respuesta" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>
{{! MODAL RESPUESTA ALQUILER }}

<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.min.js"></script>
<script src="/js/index.js"></script>
<script id="motos-template" type="text/x-handlebars-template">
\{{#each motocicletas}}
<div id="\{{_id}}" class="card mb-4 shadow-sm" data-toggle="modal" data-target=".modal">
    <img class="card-img-top" src="img/\{{imagen}}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">\{{marca}}</h5>
        <p class="card-text">\{{modelo}}</p>
    </div>
    <div class="card-footer">
        <small class="text-muted">$\{{precio}}/día</small>
    </div>
</div>
\{{/each}}
</script>