{{#if user}}
<div class="sidebar-index">
    {{>sidebar}}
</div>
<div class="btn-sidebar" id="btn-sidebar">
    <div class="menu-btn" id="btn-menu">
        <i class="fas fa-bars fa-2x"></i>
    </div>
</div>
{{/if}}
<div class="masthead">
    <h1 class="display-3 text-white">MANEJATE</h1>
    <p class="lead text-white">Ya es hora que decidas vos como querés moverte...</p>
</div>
<div class="container mt-5">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01" style="width:6rem;">Precio</label>
        </div>
        <select class="filtro" id="precio" style="width:22rem;">
            <option value="all" selected>Seleccioná el rango de precio...</option>
            <option value="1">$100~$200</option>
            <option value="2">$200~$400</option>
            <option value="3">$500~</option>
        </select>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01" style="width:6rem;">Ubicación</label>
        </div>
        <select class="filtro" id="ubicacion" style="width:22rem;">
            <option value="all" selected>Seleccioná donde querés retirar el vehículo...</option>
            {{#each data.sedes}}
            <option value="{{_id}}">{{domicilio}}</option>
            {{/each}}
        </select>
    </div>
</div>

<div class="container">
    <div id="moto-card-columns" class="card-columns">
    </div>
</div>

{{!-- TEXTOS NOSOTROS Y DEMASES --}}
<div class="bg-secondary">
    <div class="container text-center pt-5 pb-5">
        <h1 class="font-weight-bold font-italic">Servicios</h1>
        <div class="row mt-5 justify-content-md-center">
            <div class="col-md-3">
                <img src="img/cogs-solid.svg" class="img-fluid mb-2 w-50 h-50">
                <h5 class="mt-3">Servicio Técnico</h5>
                <p class="text-center">Contamos con los mejores seguros para vos y tu familia en caso de accidentes.</p>
            </div>
            <div class="col-md-3">
                <img src="img/map.svg" class="img-fluid mb-2 w-50 h-50">
                <h5 class="mt-3">Servicio de Mapas</h5>
                <p class="text-center">Encontrate con los mejores mapas y las rutas mas seguras. Para que el viajar sea
                    un verdadero placer</p>
            </div>
            <div class="col-md-3">
                <img src="img/street.svg" class="img-fluid mb-2 w-50 h-50">
                <h5 class="mt-3">Servicio Exclusivo</h5>
                <p class="text-center">Sentite un usuario premiun y accede a los mejores beneficios que solo MANEJATE te
                    puede dar</p>
            </div>
        </div>
    </div>
</div>
<div class="container text-center">
    <h1 class="font-weight-bold font-italic pt-5 pb-5">Nosotros</h1>
    <div class="row justify-content-md-end mb-3 mt-5">
        <div class="col-md-4">
            <img src="https://imgur.com/x6XBRH9.jpg" class="rounded-circle border img-fluid mb-2 w-75">
        </div>
        <div class="col-md-4 align-self-center text-left">
            <h5>Calidad y Confianza</h5>
            <p>Lorem Ipsum: Quality typographic filler text for webmasters This avoids repetitions, unintentional humor,
                and structures
                considered non-idiomatic for standard lipsum filler text. This generator doesn't just add chunks of
                predefined text with
                a limited choice of words.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 linea"></div>
    </div>
    <div class="row justify-content-md-start mb-3 mt-3">
        <div class="col-md-4 align-self-center text-right">
            <h5>Pensamos en la Familia</h5>
            <p>Lorem Ipsum: Quality typographic filler text for webmasters This avoids repetitions, unintentional humor,
                and structures
                considered non-idiomatic for standard lipsum filler text. This generator doesn't just add chunks of
                predefined text with
                a limited choice of words.
            </p>
        </div>
        <div class="col-md-4">
            <img src="https://imgur.com/eknyO2J.jpg" class="rounded-circle border img-fluid mb-2 w-75">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 linea"></div>
    </div>
    <div class="row justify-content-md-end mb-5 mt-3">
        <div class="col-md-4">
            <img src="https://imgur.com/XvzvOHi.jpg" class="rounded-circle border img-fluid mb-2 w-75">
        </div>
        <div class="col-md-4 align-self-center text-left">
            <h5>Servicio pensado en vos</h5>
            <p>Lorem Ipsum: Quality typographic filler text for webmasters This avoids repetitions, unintentional humor,
                and structures
                considered non-idiomatic for standard lipsum filler text. This generator doesn't just add chunks of
                predefined text with
                a limited choice of words.
            </p>
        </div>
    </div>
</div>
<div class="bg-secondary pb-5">
    <div class="container text-center">
        <h1 class="font-weight-bold font-italic pt-5">Contactanos</h1>
        <form id="form-contacto" <div class="row mt-5 justify-content-md-center">
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" class="form-control border-0" id="nombreEmail" placeholder="Nombre y Apellido">
                    <span id="nombreEmailError" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control border-0" id="contactoEmail" placeholder="Motivo Contacto">
                    <span id="contactoEmailError" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control border-0" id="emailEmail" aria-describedby="emailHelp"
                        placeholder="Email">
                    <span id="emailEmailError" class="text-danger"></span>
                </div>
                <button id="contactar" class="btn btn-primary border-0 btn-block mb-3">Contactar</button>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <textarea class="form-control border-0" rows="8" id="comentarioEmail" aria-describedby="comentario"
                        placeholder="Comentario" required></textarea>
                    <span id="comentarioEmailError" class="text-danger"></span>
                </div>
            </div>
        </form>
    </div>
</div>
</div>


{{! MODAL ALQUILER }}
<div id="modal-alquiler" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" name="motocicleta" />
                <div class="row align-items-end">

                    <div class="col-sm-6">
                        <label for="fechaEntrega">Fecha de entrega</label>
                        <div class="form-group">
                            <div id="fechaEntrega" class="input-group date" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" data-target="#fechaEntrega"
                                    name="fechaEntrega" />
                                <div class="input-group-append" data-target="#fechaEntrega"
                                    data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <label for="fechaDevolucion">Fecha de devolución</label>
                        <div class="form-group">
                            <div id="fechaDevolucion" class="input-group date" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input"
                                    data-target="#fechaDevolucion" name="fechaDevolucion" />
                                <div class="input-group-append" data-target="#fechaDevolucion"
                                    data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button btn-alquilar type="button" class="btn btn-primary">Alquilar</button>
            </div>
        </div>
    </div>
</div>
{{! FIN MODAL ALQUILER }}

{{! MODAL RESPUESTA ALQUILER }}
<div id="modal-respuesta" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>
{{! MODAL RESPUESTA ALQUILER }}

{{!-- MODAL SIGNUP --}}
<div class="contenedor-modal">
    <div class="contenido-modal">
        <div class="contenido-title">
            <img src="img/motorcycle-solid.svg" alt="moto">
            <h4>Registro Usuario</h4>
            <span class="cerrar" id="cerrarRegistro">&times;</span>
        </div>
        <hr>
        <div class="contenido-body">
            <form action="">
                <span class="text-warning" id="passW"></span>
                <div class="form-group">
                    <input type="type" name="nombre" id="nombre" placeholder="Nombre"
                        class="form-control bg-transparent" autofocus>
                    <span id="nombreError" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="type" name="apellido" id="apellido" placeholder="Apellido"
                        class="form-control bg-transparent">
                    <span id="apellidoError" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="text" name="email" id="email" placeholder="Email" class="form-control bg-transparent">
                    <span id="emailError" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="text" name="telefono" id="telefono" placeholder="Telefono"
                        class="form-control bg-transparent">
                    <span id="telefonoError" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="password" name="password" id="password" placeholder="Password"
                        class="form-control bg-transparent">
                    <span id="passwordError" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="password" name="verificar-password" id="verificar-password"
                        placeholder="Reingrese el Password" class="form-control bg-transparent">
                </div>
            </form>
        </div>
        <hr>
        <div class="contenido-footer">
            <button class="btn btn-primary btn-sm registrarse">Registrarse</button>
            <button class="btn btn-secondary btn-sm cancelar">Cancelar</button>
        </div>
    </div>
</div>
{{!-- FIN MODAL SIGNUP --}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.min.js"></script>
<script src="/js/index.js"></script>
<script id="motos-template" type="text/x-handlebars-template">
\{{#each motocicletas}}
<div id="\{{_id}}" class="card mb-4 shadow-sm" data-toggle="modal" data-target=".modal">
    <img class="card-img-top" src="\{{imagen}}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">\{{marca}}</h5>
        <p class="card-text">\{{modelo}}</p>
    </div>
    <div class="card-footer">
        <small class="text-muted">$\{{precio}}/día</small>
    </div>
</div>
\{{/each}}
</script>