<div class="col-md-12 text-center" id="insertar">
    <div class="col-md-12 text-center" id="insertar">
        <table class="table" id="insertar-filas">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Fecha de reserva</th>
                    <th scope="col">Fecha de entrega</th>
                    <th scope="col">Fecha de devolución</th>
                    <th scope="col">Detalle Moto</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
                {{#each this}}
                <tr>

                    <td>{{fechaReserva}}</td>
                    <td>{{fechaEntrega}}</td>
                    <td>{{fechaDevolucion}}</td>
                    <td>
                        <button type="button" moto-id="{{motocicleta}}" class="btn btn-sm btn-outline-success ver-moto">
                            Ver Moto
                        </button>
                    </td>
                    <td>
                        <i class="btn btn-outline-danger btn-sm border-0 far fa-trash-alt" cancelar-alquiler="{{_id}}"></i>
                        <i class="btn btn-outline-primary btn-sm border-0 fas fa-pen-alt" editar-alquiler="{{_id}}"></i>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>