<div class="col-md-12 text-center" id="insertar">
    <div class="col-md-12 text-center" id="insertar">
        <table class="table" id="insertar-filas">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Fecha de reserva</th>
                    <th scope="col">Fecha de entrega</th>
                    <th scope="col">Fecha de devolución</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Detalle Moto</th>
                    {{!-- <th scope="col">Estado Alquiler</th> --}}
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
                {{#each this}}
                <tr>
                    <td>{{fechaReserva}}</td>
                    <td>{{fechaEntrega}}</td>
                    <td>{{fechaDevolucion}}</td>
                    <td>
                        {{#if mostrar}}
                        <button type="button" moto-id="{{usuario._id}}" class="btn btn-link ver-user">
                            {{usuario.email}}
                        </button>
                        {{else}}
                        {{usuario.email}}
                        {{/if}}
                    </td>
                    <td>
                        <button type="button" moto-id="{{motocicleta}}" class="btn btn-sm btn-outline-success ver-moto">
                            Ver Moto
                        </button>
                    </td>
                    {{!-- <td class="{{#estados estado}}{{/estados}}">{{estado}}</td> --}}
                    <td>
                        {{#acciones this}}{{/acciones}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

{{! MODAL CANCELACION }}
<div id="modal-cancelacion" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>
{{! MODAL CANCELACION }}

<script type="module" src="/js/alquiler.js"></script>